1 ICON "NSBEdit.ico"
1 RT_MANIFEST "app.manifest"
10 RCDATA "locale/en_GB.txt"
11 RCDATA "locale/no_nb.txt"
14 RCDATA "locale/is_IS.txt"
15 RCDATA "locale/sv_SE.txt"
16 RCDATA "locale/da_DK.txt"
17 RCDATA "locale/fi_FI.txt"
18 RCDATA "locale/de_DE.txt"
19 RCDATA "locale/fr_FR.txt"
20 RCDATA "locale/es_ES.txt"
21 RCDATA "locale/uk_UA.txt"
22 RCDATA "locale/el_GR.txt"
23 RCDATA "locale/pt_PT.txt"
24 RCDATA "locale/nl_NL.txt"
25 RCDATA "locale/nl_BE.txt"
12 RCDATA "nsb_256.png"
13 RCDATA "GnuLogo.bmp"
