1 ICON "NSBEdit.ico"
1 RT_MANIFEST "app.manifest"
10 RCDATA "locale/en_GB.txt"
11 RCDATA "locale/no_nb.txt"
14 RCDATA "locale/is_IS.txt"
15 RCDATA "locale/sv_SE.txt"
16 RCDATA "locale/da_DK.txt"
17 RCDATA "locale/fi_FI.txt"
18 RCDATA "locale/de_DE.txt"
12 RCDATA "nsb_256.png"
13 RCDATA "GnuLogo.bmp"
